* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #dfe6e9; */
}

body {
  font-family: Ubuntu, Cantarell, sans-serif;
}

.header {
  background: #4b4dd4;
  /* height: 8%; */
  padding: 1em 0;
  display: block;
  margin-bottom: 10px;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.search-form {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.input-query {
  display: block;
  padding: 0.3rem;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #000;
}

.footer {
  background: #4b4dd4;
  /* height: 8%; */
  padding: 1rem 0;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
}

.button-load {
  display: block;
  padding: 0.3rem 2rem;
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid #000;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.button-load:hover {
  transform: scale(0.97);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery {
  display: grid;
  /* width: 1200px; */
  width: 90vw;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 10px;
  padding: 4.5% 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__item:hover img {
  transform: scale(1.05);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 200ms ease-in-out;
}

.photo-card .stats,
.photo-card .full-screen-img {
  opacity: 0;
}

.photo-card:hover .stats,
.photo-card:hover .full-screen-img {
  opacity: 1;
}

.full-screen-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 45%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
}

.full-screen-img:hover {
  transform: scale(1.2);
}

.full-screen-img > i {
  font-size: 40px;
}

.stats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s linear;
}

.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item > i {
  margin-right: 6px;
}

 {
  /* Lightbox */
  /* .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
}

.lightbox__image {
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
  background-image: url('./images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
} */
}
